In [0]:
!pip install -q kaggle

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [0]:
!kaggle datasets download -d mlg-ulb/creditcardfraud

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading creditcardfraud.zip to /content
 74% 49.0M/66.0M [00:01<00:00, 19.2MB/s]
100% 66.0M/66.0M [00:01<00:00, 40.3MB/s]

In [0]:
!unzip -q 'creditcardfraud.zip'

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
dataset = pd.read_csv('creditcard.csv')

In [0]:
dataset

            Time        V4        V7       V10       V17
0            0.0  1.378155  0.239599  0.090794  0.207971
1            0.0  0.448154 -0.078803 -0.166974 -0.114805
2            1.0  0.379780  0.791461  0.207643  1.109969
3            1.0 -0.863291  0.237609 -0.054952 -0.684093
4            2.0  0.403034  0.592941  0.753074 -0.237033
...          ...       ...       ...       ...       ...
284802  172786.0 -2.066656 -4.918215  4.356170  1.991691
284803  172787.0 -0.738589  0.024330 -0.975926 -0.025693
284804  172788.0 -0.557828 -0.296827 -0.484782  0.313502
284805  172788.0  0.689799 -0.686180 -0.399126  0.509928
284806  172792.0 -0.506271  1.577006 -0.915427 -0.660377

[284807 rows x 5 columns]

In [0]:
X = dataset.iloc[:, 0:5].values

In [0]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [0]:
# Fitting Kernel SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [0]:
from sklearn.model_selection import cross_val_score
cross_val_svc = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10, n_jobs = -1)
print("Cross Validation Accuracy : ",round(cross_val_svc.mean() * 100 , 2),"%")

Cross Validation Accuracy :  99.94 %